saves
assets
runtime
buckup
crash-reports
logs
screenshots
tlauncher_libraries
libraries
XaeroWaypoints
XaeroWaypoints_BACKUP032021
XaeroWorldMap
biomemap.png
hs_err_pid15320.log
tlauncher_profiles.json
servers.dat
servers.dat_old
TlauncherProfiles.json
TrashSlotSaveState.json
usercache.json
usernamecache.json
worlds.json
launcher_profiles.json
